// Place all the styles related to the grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection-row {
  margin-bottom: 0px;
}

.profile-img {
  background-image: url("http://jeffity.com/static/img/user-profile-1.jpg");
  height: 300px;
  width: 100%;
  position: relative;
}

.profile-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-bottom: 0;
}

.no-bottom {
    margin-bottom: 0px;
}

.modal-trigger-desc, .check-box-field {
     margin-bottom: 20px;
}

.parallax-shorter {
  height: 250px;
}

.set-height-card {
  height: 166px;
}

.input-field input[type=search] {
  display: inline-block; 
}

nav .input-field label i {
  color: black;
  transition: color .3s;
}


nav .input-field label.active i {
    color: black;
}

.grant-icon {
  font-size: 16px;
}