<div class="container">
  
  
  <div>
    <h1 class="center-align">Hey</h1>
    <h5 class="center-align">Search for a grant.</h5>
  </div>

  <div class="row">

    <div class="col s12 m6 offset-m3">

      <!-- Send this form via get -->
      <%= form_tag(grants_path, method: 'get', enforce_utf8: false) do %>
    
        <div class="row">

          <div class="input-field col s12">
    
            <%= text_field_tag :q, params[:q] %>
            <%= label_tag :search %>
            <%= submit_tag 'Submit', class: 'waves-effect waves-light btn', :name => nil %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  
</div>
